@import url('./container/comments__container.css');
@import url('./comment/comments__comment.css');
@import url('./image/comments__image.css');
@import url('./quote/comments__quote.css');
@import url('./author/comments__author.css');

.comments {
    max-width: 1184px;
    margin: 0 auto;
    text-align: center;
}

.comments .content-title {
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width: 420px) {
    .comments .content-title {
        margin: 0 16px 0 16px;
    }
}