.video__subtitle_type_right {
    margin: 18px 0 0 30px;
}

@media (max-width: 768px) {
    .video__subtitle_type_right {
        margin: 7px 0 0 24px;
    }
}

@media (max-width: 320px) {
    .video__subtitle_type_right {
        margin: 4px 0 0 16px;
    }
}