.place__title {
    grid-area: place__title;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    color: #FFFFFF;
    display: flex;
    align-items: flex-end;
}

@media (max-width: 983px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 780px) {
    .place__title {
        margin-left: 16px;
    }
}

@media (max-width: 375px) {
    .place__title {
        margin: 16px;
        font-size: 32px;
        line-height: 35px;
    }
}