.footer__copyright {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

@media (max-width: 920px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (max-width: 720px) {
    .footer__copyright {
        left: 0;
    }
}