.cover__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    z-index: 200;
    max-width: 382px;
    margin: 134px auto 48px;
}

@media (max-width: 920px) {
    .cover__subtitle {
        margin: 45px auto 40px;
    }
}

@media (max-width: 750px) {
    .cover__subtitle {
        margin: 7px auto 24px;
        font-size: 14px;
        line-height: 17px;
        max-width: 343px;
    }
}

@media (max-width: 370px) {
    .cover__subtitle {
        padding-bottom: 24px;
        max-width: 288px;
    }
}