.video__container {
    max-width: 1184px;
    margin: 102px auto;
    display: flex;
}

.video__container a {
    text-decoration: none;
}

@media (max-width: 1124px) {
    .video__container {
        max-width: 928px;
        margin: 0 auto;
    }
}

@media (max-width: 920px) {
    .video__container {
        max-width: 720px;
        margin: 0 auto;
    }
}

@media (max-width: 750px) {
    .video__container {
        max-width: 343px;
        flex-direction: column;
    }
    .video__container a {
        margin-bottom: 8px;
    }
}

