.content-subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    max-width: 640px;
    margin: 48px auto;
}

@media (max-width: 920px) {
    .content-subtitle {
        font-size: 24px;
        line-height: 35px;
        margin: 24px auto 56px;
    }
}

@media (max-width: 620px) {
    .content-subtitle {
        font-size: 16px;
        line-height: 23px;
        margin: 16px 16px 24px;
    }
}