.lead__subtitle {
    max-width: 583px;
    margin: 48px auto 78px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #fff;
    font-size: 30px;
    line-height: 36px;
}

@media (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 23px;
        max-width: 288px;
        margin: 8px auto 32px;
    }
}