@import url('./bg/cover__bg.css');
@import url('./title/cover__title.css');
@import url('./subtitle/cover__subtitle.css');
@import url('./image-wrapper/cover__image-wrapper.css');
@import url('./link/cover__link.css');
@import url('./image/cover__image.css');
@import url('./text-wrapper/cover__text-wrapper.css');

.cover {
    max-width: 1184px;
    max-height: 594px;
    margin: 0 auto;
}